extends layout

block content
    h1 Create new chat room

    form(method="post")
        fieldset.form-group
            label(for="name") Name:
            input(name = "name", tyoe="text", placeholder="Enter a name")
            small.text-muted Name the room
        button.btn-primary(type="submit") Create new chat room
        a.btn.btn-default(href="/admin/rooms") Cancel
    