extends layout

block content
    h1 Chat Rooms
    a.btn.btn-primary(href="/admin/rooms/add") Create new chat room
    table.table.table-striped
        thead
            tr
                th Name
                th Id
        tbody
            each room in rooms
                
                tr
                    td(style="width: 50px;"): a.btn.btn-primary(href="/admin/rooms/delete/#{room.id}") Delete room
                    td= room.name
                    td= room.id
